<!doctype html>
<html lang="cn">
<head>
	<title>File Upload</title>
</head>
<body>
<main>
	<div class="">
		<form enctype="multipart/form-data" action="/upload" method="post">
			<input type="hidden" name="token" value="{{.Token}}"/>
			<p>
				上传文件：
				<input type="file" id="i-file" name="uploadfile" required="required" />
			</p>
			<p>
				到：
				<input type="text" id="dest" name="dest" value="" placeholder="left empty as default, or subdir of public root" size="100">
			</p>
			<button type="submit" >upload</button>
		</form>
	</div>
	<div>
		{{if .Message}}
			<p>
				<b>Message:</b>
				{{.Message}}
			</p>
		{{end}}
		{{if .Src}}
			<p>
				<b>Link:</b>
				<a href="{{.Src}}" target="_blank">
					{{.Src}}
				</a>
			</p>
		{{end}}
	</div>
</main>
</body>
